/*====================================*\
  BASE
  _code.css
\*====================================*/

/**
 * Aim to keep the x-height equal to the default sans-serif font as code
 * snippets will often be included inline with body text
 */
code {
  font-size: 0.8em;
  background-color: rgba(30, 34, 38, 0.05);
  padding: 0.1em 0.2em;
  /* white-space: nowrap; */
  /* hyphens: none; */
}
