/*====================================*\
  BASE
  _code.css
\*====================================*/

/**
 * Aim to keep the x-height equal to the default sans-serif font as code
 * snippets will often be included inline with body text
 */
code:not([class^='language-']) {
  @apply dark:bg-grey-800;
  font-size: 0.8em;
  background-color: rgba(30, 34, 38, 0.05);
  padding: 0.1em 0.2em;
}

kbd {
  @apply bg-white dark:bg-grey-800 border shadow-block-sm mr-1;
  font-size: 0.8em;
  padding: 0.1em 0.4em;
}
