/*====================================*\
  BASE
  _code.css
\*====================================*/

/**
 * Aim to keep the x-height equal to the default sans-serif font as code
 * snippets will often be included inline with body text
 */
code:not([class^='language-']) {
  font-size: 0.8em;
  background-color: rgba(30, 34, 38, 0.05);
  padding: 0.1em 0.2em;
}

kbd {
  @apply bg-white border shadow-block-grey-800 mr-1;
  font-size: 0.8em;
  padding: 0.1em 0.2em;
  min-width: 1.5em;
}
