/*====================================*\
  BASE
  _headings.css
\*====================================*/

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @apply font-sans;
  @apply font-normal;
  @apply leading-none;
  @apply text-black;
}

h1,
.h1 {
  @apply text-5xl;
  @apply font-medium;
}

@screen md {
  h1,
  .h1 {
    @apply text-6xl;
  }
}

h2,
.h2 {
  @apply text-3xl;
}

h3,
.h3 {
  @apply text-xl;
}

h4,
.h4 {
  @apply text-lg;
}

h5,
.h5 {
  @apply text-base;
}
