/*====================================*\
  BASE
  _links.css
\*====================================*/

a:not([class]),
.link {
  --arrow-color: theme('colors.grey.800');
  @apply border-b dark:border-grey-600;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:hover,
  &:focus {
    --arrow-color: theme('colors.red.600');
    @apply text-red-600 border-red-400;
  }
}

.dark a:not([class]),
.dark .link {
  --arrow-color: theme('colors.grey.600');

  &:hover,
  &:focus {
    --arrow-color: theme('colors.red.600');
  }
}

a[href^="http://"]:not([class])::after,
a[href^="https://"]:not([class])::after {
  content: '';
  background-color: var(--arrow-color);
  mask-image: url('north-east-arrow');
  mask-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-top;
  width: 0.9em;
  height: 0.9em;
  transition: background-color 0.3s ease;
}
