/*====================================*\
  BASE
  _root.css
\*====================================*/

:root {
  @apply bg-grey-100;
  @apply text-grey-800;
  @apply font-serif;
  @apply leading-normal;
}

/**
 * Change base font size at different breakpoints
 * Root font sizes are in ems which enables users to override them
 *
 * Breakpoints match values defined in tailwind config
 */
@media (min-width: theme('screens.sm')) {
  :root {
    /* 17px */
    font-size: 1.0625em;
  }
}

@media (min-width: theme('screens.md')) {
  :root {
    /* 18px */
    font-size: 1.125em;
  }
}

@media (min-width: theme('screens.lg')) {
  :root {
    /* 19px */
    font-size: 1.1875em;
  }
}

@media (min-width: theme('screens.xl')) {
  :root {
    /* 20px */
    font-size: 1.25em;
  }
}

/**
 * Switch off all animations
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
