/*====================================*\
  BASE
  _root.css
\*====================================*/

:root {
  --color-blue-400: config('colors.blue.500');
  @apply bg-grey-100;
  @apply text-grey-800;
  @apply font-serif;
  @apply leading-normal;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236297bb' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/**
 * Change base font size at different breakpoints
 * Root font sizes are in ems which enables users to override them
 *
 * Breakpoints match values defined in tailwind config
 */
@media (min-width: theme('screens.sm')) {
  :root {
    /* 17px */
    font-size: 1.0625em;
  }
}

@media (min-width: theme('screens.md')) {
  :root {
    /* 18px */
    font-size: 1.125em;
  }
}

@media (min-width: theme('screens.lg')) {
  :root {
    /* 19px */
    font-size: 1.1875em;
  }
}

@media (min-width: theme('screens.xl')) {
  :root {
    /* 20px */
    font-size: 1.25em;
  }
}

/**
 * Switch off all animations
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
