/*====================================*\
  LAYOUT
  _l-col.css
\*====================================*/

/**
 * Responsive layout without breakpoints \o|
 * Based on https://www.youtube.com/watch?v=qOUtkN6M52M
 */

.l-col-wrap {
  display: flex;
  flex-wrap: wrap;
}

.l-col {
}

.l-col--main {
  /* main column should never be less than 3/5 wide */
  min-width: 60%;
  flex-basis: 0;
  flex-grow: 999;
}

.l-col--sidebar {
  /* 16 rems is the 'ideal' width */
  flex-basis: 16rem;
  flex-grow: 1;
}
