/*====================================*\
  LAYOUT
  _l-stack.css
\*====================================*/

/**
 * Add space between elements
 * Based on https://every-layout.dev/layouts/stack/
 */

.l-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.l-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.l-stack > * + * {
  margin-top: var(--space, 1.5rem);
}
