/*====================================*\
  COMPONENTS
  badge.css
\*====================================*/

.badge {
  @apply font-sans text-sm text-grey-800 bg-grey-200 rounded mr-1 mb-1;
  display: inline-block;
  padding: 0.125em 0.4em;
}

.badge__icon {
  @apply mr-1 text-base;

  display: inline;
  vertical-align: text-top;
}

@screen sm {
  .badge {
    @apply text-xs;
  }

  .badge__icon {
    @apply text-sm;
  }
}
