/*====================================*\
  COMPONENTS
  _body-text.css
\*====================================*/

.body-text {
  @apply mx-auto;
  max-width: 76ch;

  & ul {
    list-style-type: disc;
    padding-left: theme('padding.6');
  }

  & ol {
    list-style-type: decimal;
    padding-left: theme('padding.6');
  }
}

/* Anchor link should only appear on focus / hover */
.anchor {
  @apply border-b-0 absolute h-full w-6 flex items-center justify-center;
  transform: translateX(-100%);

  & svg {
    visibility: hidden;
  }
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

.gatsby-resp-image-figure {
  @apply my-6;
}

.gatsby-resp-image-wrapper {
  @apply shadow-md;
}

.gatsby-resp-image-figcaption {
  @apply pt-2;
  @apply text-grey-700;
  font-style: italic;
}

/* Extend vertical rhythm */
.footnotes li + li {
  margin-top: 0.8em;
}

.footnotes p {
  display: inline;
}

.footnote-ref {
  @apply text-sm;
  @apply underline;
  @apply border-none;
  @apply ml-1;

  transition: color 0.3s ease, text-decoration-color 0.3s ease;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  &:hover {
    @apply text-red-600;
    text-decoration-color: theme('colors.red.600');
  }
}

.footnote-backref {
  @apply border-none;
}
