/*====================================*\
  COMPONENTS
  _call-to-action.css
\*====================================*/

@keyframes shift {
  from {
   background-position-x: 0;
  }

  to {
    background-position-x: 20px;
  }
}

.call-to-action {
  @apply p-2 border-b-0 font-sans text-teal-800 border-0;
  font-style: italic;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' id='wobble-svg' viewBox='-18 17.5 20 5'%3e%3cpath class='line' fill='none' stroke='%23fda992' stroke-width='2' d='M-18 21.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3e%3c/svg%3e");
  background-size: 20px 5px;
  background-position: 0 100%;
  background-repeat: repeat no-repeat;
  transition: color 0.3s linear;
  animation: shift 0.5s linear infinite;
  animation-play-state: paused;
}

.call-to-action:hover,
.call-to-action:focus {
  animation-play-state: running;
}
