/*====================================*\
  COMPONENTS
  _call-to-action.css
\*====================================*/

@keyframes shift {
  from {
    -webkit-mask-position-x: 0;
    mask-position-x: 0;
  }

  to {
    -webkit-mask-position-x: 20px;
    mask-position-x: 20px;
  }
}

.call-to-action {
  @apply relative p-2 pt-0 border-b-0 font-sans text-black dark:text-white border-0;
  display: inline-block;
  font-style: italic;
  /* Use postcss-svg to inline SVG into CSS (Prettier will break this) */
  /* prettier-ignore */
  /* background-image: url('background-squiggle' param(--color theme('colors.grey.800')));
  background-size: 20px 5px; */
  background-position: 0 100%;
  background-repeat: repeat no-repeat;
  transition: color 0.3s linear;
  /* animation: shift 0.5s linear infinite;
  animation-play-state: paused; */
}

.call-to-action::after {
  @apply bg-squiggle;
  content: '';
  display: block;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shift 0.5s linear infinite;
  animation-play-state: paused;
}

.call-to-action:hover,
.call-to-action:focus {
  &::after {
    animation-play-state: running;
  }
}
