/*====================================*\
  COMPONENTS
  _card.css
\*====================================*/

.card {
  --shadow-color: theme('colors.black');
  --background-color: theme('colors.white');
  --text-color: theme('colors.grey.800');
  --hover-background-color: theme('colors.grey.100');

  background-color: var(--shadow-color);
  position: relative;
  /* content-visibility: auto; */
  /* contain-intrinsic-size: 20rem; */

  &:hover .card__inner {
    background-color: var(--hover-background-color);
    border-color: theme('colors.black');
    transform: translate(-4px, -4px);
  }
}

.dark .card {
  --shadow-color: theme('colors.white');
  --background-color: theme('colors.black');
  --text-color: theme('colors.grey.100');
  --hover-background-color: theme('colors.grey.800');
}

.card--design-system {
  /* contain-intrinsic-size: 20rem 24rem; */
}

.card__inner {
  --transition-duration: 200ms;

  @apply text-sm border-r border-b;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration),
    border-color var(--transition-duration), color var(--transition-duration),
    transform var(--transition-duration);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;

  &:focus {
    z-index: 1;
  }
}

.dark .card:hover .card__inner {
  border-color: theme('colors.white');
}

.card__list::before {
  @apply inline-block uppercase text-xs font-sans font-bold tracking-wide ml-1 mr-2 text-grey-700 dark:text-grey-300;
  content: attr(aria-label);
  padding: 0.125em 0;
}
