.checkbox-button {
  @apply mr-2 mb-2;
  position: relative;
  display: inline-block;
}

/* Hide the checkbox, but make it the same size as the label */
.checkbox-button__input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
  appearance: none;
  margin: 0;
  opacity: 0;

  /* Here to override a global focus style */
  &:focus {
    position: absolute;
  }
}

.checkbox-button__label {
  @apply px-2 border rounded-full font-sans text-sm flex;
}

.checkbox-button__count {
  @apply text-grey-600 ml-1;
}

.checkbox-button__input:focus + .checkbox-button__label {
  @apply shadow-outline;
}

.checkbox-button__input:checked + .checkbox-button__label {
  @apply bg-grey-700 text-white;
}
