/*====================================*\
  COMPONENTS
  _header-logo.css
\*====================================*/

.header-logo {
  @apply table text-3xl text-black font-sans lowercase leading-none py-1 px-2 border-2 border-transparent;

  letter-spacing: -0.02em;
  font-style: italic;
  transition: background-color 200ms, border-color 200ms, box-shadow 200ms,
    color 200ms, transform 200ms;

  &:hover {
    @apply text-grey-800 border-2 border-black bg-white;
    transform: translate(-4px, -4px);
    /* prettier-ignore */
    box-shadow: 4px 4px theme('colors.grey.800')bf;
  }
}

@screen sm {
  .header-logo {
    @apply mx-auto;
  }
}

@screen lg {
  .header-logo {
    @apply text-left mx-0 whitespace-no-wrap;
  }
}
