/*====================================*\
  COMPONENTS
  _site-search.css
\*====================================*/

.site-search {
  @apply w-full max-w-sm my-2 bg-white;
  position: relative;
}

.site-search__input {
  --background-size: 0.8rem;
  @apply font-sans text-sm p-2 pl-10 leading-none w-full border-grey-800 bg-grey-200;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1792 1792'%3e%3cpath fill='%23606f7b' d='M1212.746 497.898q0-185-131.5-316.5t-316.5-131.5q-185 0-316.5 131.5t-131.5 316.5q0 185 131.5 316.5t316.5 131.5q185 0 316.5-131.5t131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150q-94.5-94.5-150-225t-55.5-273.5q0-143 55.5-273.5t150-225q94.5-94.5 225-150t273.5-55.5q143 0 273.5 55.5t225 150q94.5 94.5 150 225t55.5 273.5q0 220-124 399l343 343q37 37 37 90z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: theme('spacing.4');
  background-position-y: center;
  background-size: var(--background-size) var(--background-size);

  &::placeholder {
    @apply text-grey-700 italic;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    line-height: normal;
  }
}

.site-search__results-list {
  @apply mt-0 border z-20;
}

.site-search__result {
  @apply p-2 border-t;

  cursor: pointer;

  &:first-child {
    @apply border-t-0;
  }

  &[aria-selected='true'] {
    @apply bg-grey-200;
  }
}

@screen md {
  .site-search__input {
    @apply text-base;
  }

  .site-search__results-list {
    @apply bg-white shadow-block-grey-800;
    max-height: 16rem;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }
}
