/*====================================*\
  COMPONENTS
  _site-search.css
\*====================================*/

.site-search-container {
  @apply w-full max-w-sm my-2;
  min-height: 2rem;
}

.site-search {
  @apply w-full max-w-sm bg-white;
  position: relative;
}

.site-search__input {
  --background-size: 0.8rem;
  @apply font-sans text-sm md:text-base p-2 pl-10 leading-none w-full rounded-none border-grey-800 bg-grey-200 dark:bg-grey-800;
  /* Use postcss-svg to inline SVG into CSS */
  background-image: url('magnifying-glass');
  background-repeat: no-repeat;
  background-position-x: theme('spacing.4');
  background-position-y: center;
  background-size: var(--background-size) var(--background-size);

  &::placeholder {
    @apply text-grey-700 italic;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    line-height: normal;
  }
}

.dark .site-search__input::placeholder {
  @apply text-grey-500;
}

.site-search__results-list {
  @apply mt-0 border z-20 bg-transparent md:bg-white md:dark:bg-grey-800 md:shadow-block;
}

.site-search__result {
  @apply p-2 border-t;

  cursor: pointer;

  &:first-child {
    @apply border-t-0;
  }
}

.site-search__result[aria-selected='true'] {
  @apply bg-grey-200 dark:bg-grey-700;
}

@screen md {
  .site-search__results-list {
    max-height: 16rem;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }
}
