/*====================================*\
  COMPONENTS
  _table-of-contents.css
\*====================================*/

.table-of-contents {
  @apply pl-4 mt-0;
  list-style-type: none;

  @screen md {
    font-size: theme('fontSize.sm');
  }
}

.table-of-contents a {
  @apply table border-none pt-2 text-black dark:text-grey-400;

  font-weight: bold;
}

.table-of-contents ul {
  @apply pl-4;

  & a {
    font-weight: normal;
  }
}
