/*====================================*\
  COMPONENTS
  _tag.css
\*====================================*/

.tag {
  @apply font-sans bg-grey-100 text-grey-700 rounded-full shadow mr-2 mb-2;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.3em;
}
