/*====================================*\
  UTILITIES
  _bg-squiggle.css
\*====================================*/

.bg-squiggle {
  @apply bg-grey-400 dark:bg-grey-500;
  /* Use postcss-svg to inline SVG into CSS */
  mask-image: url('background-squiggle');
  mask-size: 20px 5px;
  mask-repeat: repeat no-repeat;
  mask-position: 0 100%;
}
