---
const { class: className } = Astro.props;
---

<div
  class={`empty-state col-span-full px-4 py-8 bg-background-primary shadow-border flex flex-col justify-center items-center gap-8 min-h-[60vh] ${className}`}
>
  <svg
    width="324"
    height="258"
    viewBox="0 0 324 258"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M290 226V170" stroke="black" stroke-width="2"></path>
    <path d="M290 97.9999L162 66.0001L162 130L290 97.9999Z" fill="#CCC9C5"
    ></path>
    <path
      d="M162 258V130M162 258L34 226L34 170M162 258L290 226M162 130L34 98M162 130L130 194C79.9154 181.491 52.0846 174.509 2 162L34 98M162 130L194 194L322 162L290 97.9999M162 130L290 97.9999M162 130L162 66.0001M34 98L162 66.0001M162 66.0001L290 97.9999"
      stroke="black"
      stroke-width="2"></path>
    <path
      d="M214.72 23.5808C214.342 24.61 213.098 25.4711 210.906 25.7554C208.768 26.0327 206.001 25.7057 203.14 24.6551C200.279 23.6044 197.958 22.0632 196.508 20.4683C195.021 18.833 194.629 17.3713 195.007 16.3422C195.385 15.313 196.629 14.4518 198.821 14.1676C200.959 13.8903 203.726 14.2173 206.587 15.2679C209.448 16.3186 211.769 17.8597 213.22 19.4547C214.707 21.09 215.098 22.5517 214.72 23.5808Z"
      stroke="black"
      stroke-width="2"></path>
    <path
      d="M208.024 9.31076C208.053 10.7975 207.674 12.1059 207.091 13.0172C206.504 13.9355 205.786 14.3544 205.12 14.3671C204.454 14.3798 203.721 13.9886 203.099 13.0933C202.482 12.2049 202.054 10.9119 202.025 9.42518C201.997 7.93849 202.376 6.63006 202.958 5.71877C203.546 4.8004 204.263 4.38159 204.929 4.36888C205.596 4.35618 206.329 4.74732 206.951 5.64263C207.568 6.53104 207.996 7.82407 208.024 9.31076Z"
      stroke="black"
      stroke-width="2"></path>
    <path
      d="M214.333 12.9811C213.573 14.259 212.561 15.1708 211.585 15.6376C210.601 16.108 209.771 16.0853 209.198 15.7447C208.626 15.4041 208.209 14.6851 208.153 13.5965C208.098 12.5162 208.416 11.1918 209.176 9.9138C209.936 8.63581 210.948 7.72403 211.924 7.25723C212.907 6.78682 213.738 6.80958 214.31 7.15014C214.883 7.49071 215.299 8.20973 215.355 9.29837C215.411 10.3786 215.093 11.7031 214.333 12.9811Z"
      stroke="black"
      stroke-width="2"></path>
    <path
      d="M152.247 124C130 86.5 182.541 65.6008 209 61C237.481 55.7598 250 29.5 217.5 23.5"
      stroke="black"
      stroke-width="2"
      stroke-dasharray="8 8"></path>
  </svg>
  <p class="text-center text-2xl font-serif">
    <slot>No examples found matching your chosen filters.</slot>
  </p>
</div>
