<footer class="sticky bottom-0 left-0 w-full grid items-center justify-center">
  <div
    class="mx-6 md:mx-12 lg:mx-18 max-w-screen-2xl grid grid-cols-12 gap-px px-[1px]"
  >
    <div class="col-span-full grid grid-cols-subgrid gap-x-px">
      <div
        class="col-span-full lg:col-span-6 pl-[var(--grid-display-size)] pt-[calc(var(--grid-display-size)*1.3333)] pb-[var(--grid-display-size)]"
      >
        <h1
          class="font-serif text-[calc(var(--grid-display-size)*2)] leading-[calc(var(--grid-display-size)*2)] tracking-[-0.004em]"
        >
          The Component Gallery
        </h1>
      </div>

      <div
        class="col-span-12 lg:col-span-6 bg-background-primary px-4 pt-[calc(var(--grid-display-size)*0.5)] pb-[calc(var(--grid-display-size)*2)] lg:py-[var(--grid-display-size)] flex flex-col"
      >
        <div class="body-text text-sm variable-font-wdth-90 mb-3">
          <p>
            The Component Gallery is a project by <a href="https://iainbean.com"
              >Iain Bean</a
            >, built with <a href="https://astro.build/">Astro</a>, using data
            from <a href="https://airtable.com/">Airtable</a>, and hosted on <a
              href="https://www.netlify.com/">Netlify</a
            >. Search functionality is powered by <a
              href="https://pagefind.app/">Pagefind</a
            >. Screenshots were generated using <a
              href="https://github.com/inbn/screenshot-urls"
              >this puppeteer script</a
            >. The site’s CSS is generated with <a
              href="https://tailwindcss.com/">Tailwind</a
            >. The fonts used are: <a
              href="https://fonts.google.com/specimen/Instrument+Serif"
              >Instrument Serif</a
            >, <a href="https://fonts.google.com/specimen/Instrument+Sans"
              >Instrument Sans</a
            >, and
            <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a>.
          </p>
        </div>
        <ul class="flex gap-4 mt-auto">
          <li>
            <a
              href="/about"
              class="text-sm variable-font-wdth-90 underline underline-offset-2 decoration-grey-7 decoration-[0.07em]"
              >About</a
            >
          </li>
          <li>
            <a
              href="/contribute"
              class="text-sm variable-font-wdth-90 underline underline-offset-2 decoration-grey-7 decoration-[0.07em]"
              >Contribute</a
            >
          </li>
          <li>
            <a
              href="/changelog"
              class="text-sm variable-font-wdth-90 underline underline-offset-2 decoration-grey-7 decoration-[0.07em]"
              >Changelog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
