/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono text-sm;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  @apply bg-grey-100 border -mx-4 my-4 px-4 py-3;
  box-shadow: 0.25em 0.25em theme('colors.grey.800');
	overflow: auto;
}

code[class*="language-"] {
  @apply text-grey-800;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	border-radius: .3em;
	box-shadow: none;
	white-space: normal;
}

[class*="language-"] .token.comment,
[class*="language-"] .token.prolog,
[class*="language-"] .token.doctype,
[class*="language-"] .token.cdata {
	color: #aaa;
  font-style: italic;
}

[class*="language-"] .token.punctuation {
	@apply text-grey-700;
}

[class*="language-"] .namespace {
	opacity: .7;
}

[class*="language-"] .token.property,
[class*="language-"] .token.tag,
[class*="language-"] .token.boolean,
[class*="language-"] .token.number,
[class*="language-"] .token.constant,
[class*="language-"] .token.symbol {
	@apply text-indigo-500;
}

[class*="language-"] .token.selector,
[class*="language-"] .token.attr-name,
[class*="language-"] .token.string,
[class*="language-"] .token.char,
[class*="language-"] .token.builtin {
	@apply text-red-500;
}

[class*="language-"] .token.operator,
[class*="language-"] .token.entity,
[class*="language-"] .token.url,
[class*="language-"] .language-css .token.string,
[class*="language-"] .toke.variable,
[class*="language-"] .token.inserted {
	color: yellowgreen;
}

[class*="language-"] .token.atrule,
[class*="language-"] .token.attr-value,
[class*="language-"] .token.keyword {
	@apply text-teal-700;
}

[class*="language-"] .token.regex,
[class*="language-"] .token.important {
	color: orange;
}

[class*="language-"] .token.important,
[class*="language-"] .token.bold {
	font-weight: bold;
}

[class*="language-"] .token.italic {
	font-style: italic;
}

[class*="language-"] .token.entity {
	cursor: help;
}

[class*="language-"] .token.deleted {
	color: red;
}
