/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/HKGrotesk-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-MediumItalic.woff2') format('woff2'),
    url('../fonts/HKGrotesk-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  @apply bg-grey-lightest;
  @apply text-grey-darkest;
  @apply font-serif;
  @apply leading-normal;
}

/**
 * Switch off all animations
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/**
  * Change base font size at different break points
  *
  * These should match values defined in tailwind config:
  *   screens: {
  *     sm: '576px',
  *     md: '768px',
  *     lg: '992px',
  *     xl: '1200px'
  *   }
  */
@media (min-width: 576px) {
  :root {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 20px;
  }
}

a {
  @apply text-red-light;
}

h1,
h2,
h3 {
  @apply font-sans;
  @apply font-normal;
  @apply leading-none;
  @apply text-teal-darker;
}

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

.component-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
