html[data-modifier-key="command"] .control {
  display: none;
}

html[data-modifier-key="control"] .command {
  display: none;
}

.search-dialog {
  background: transparent;
}

.search-dialog::backdrop {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
}

.search-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
  width: calc(100vw - 3rem);
  max-width: 600px;
  color: var(--color-text-primary);
  border-radius: 8px;
  pointer-events: none;
}

@screen md {
  .search-container {
    height: 60vh;
    width: 80vw;
  }
}

.search-combobox {
  position: relative;
  background-color: var(--color-bg-highlight);
  border-radius: 8px;
  pointer-events: auto;
}

.search-combobox[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  left: 0.4rem;
  top: 0;
  height: 100%;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 3rem;
  /* border: 1px solid var(--color-border-highlight); */
  border-radius: 8px;
  color: var(--color-text-primary);
  background: transparent;
}

.search-input:focus-visible {
  outline: none;
}

.search-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 0.66rem;
}

.search-close kbd {
  cursor: default;
}

.search-results {
  overflow-y: scroll;
  display: grid;
  background-color: var(--color-bg-highlight);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
}

.search-result {
  display: flex;
  flex-direction: column-reverse;
  color: var(--color-text-primary);
  border-top: 1px solid var(--color-border-primary);
  padding: 1rem;
}

.search-result[aria-selected="true"] {
  border-color: theme("colors.border-highlight");
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
}

.search-result[aria-selected="true"] + .search-result {
  border-color: theme("colors.border-highlight");
}
